# WEEK 3 IP

## Importing Libraries

In [1]:
# Imports

import pandas as pd
import numpy as np

## Dataset Loading

In [2]:
# Creating CDR DataFrame
cdr = pd.read_excel('CDR_description.xlsx')
cdr.head()

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String

In [3]:
# Creating cells geo description DataFrame
cells_desc = pd.read_excel('cells_geo_description.xlsx')
cells_desc.head()

    Column name        Description  Format
0        VILLES               City  String
1        STATUS  In Service or not  String
2  LOCALISATION  in ABIDJAN or not  String
3    DECOUPZONE  Geographical Zone  String
4      ZONENAME       Name of Zone  String

In [4]:
# Creating cells geo DataFrame
cells_geo = pd.read_csv('cells_geo.csv', sep = ';')
cells_desc.head()

    Column name        Description  Format
0        VILLES               City  String
1        STATUS  In Service or not  String
2  LOCALISATION  in ABIDJAN or not  String
3    DECOUPZONE  Geographical Zone  String
4      ZONENAME       Name of Zone  String

In [28]:
# Creating Telcom 1 DataFrame
telcom1 = pd.read_csv('Telcom_dataset.csv')
telcom1.head()

,PRODUTC,VALUE,DATETIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,Voice,0,2012-05-06 23:04:37.0,1,49fae048b547780,1a49f8b0ded9de6,19e2e,19e2e,/TJNe+Mmtu,/TJNe+Mmtu
1,sms,0,2012-05-06 23:05:25.0,0,7a54a6eaee19e65,93343ba6e41af95,19e2e,19e2e,/+cKZKIp41,/+cKZKIp41
2,sms,25,2012-05-06 23:05:41.0,0,6008887b0207d82,7aacc9709ce0a20,19e2e,19e2e,/u0FSD+ahi,/u0FSD+ahi
3,Voice,56,2012-05-06 23:05:42.0,1,7370032e20f4e96,6af4a60e74c91d3,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3
4,Voice,14,2012-05-06 23:06:29.0,1,966ba4656e38e62,02aa736ee555d5c,19e2e,19e2e,051KhYDCpv,051KhYDCpv

In [22]:
# Creating Telcom 2 DataFrame
telcom2 = pd.read_csv('Telcom_dataset2.csv')
telcom2.head()

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER,DW_B_NUMBER,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,sms,0,2012-05-07 23:02:06.0,2,32255675c3b6fe3,1aa7ae01386e9fb,19e2e,19e2e,+854AcBQT2,+854AcBQT2
1,Voice,0,2012-05-07 23:03:44.0,1,ff16d6ac74c1c64,87d87309c15a8c9,19e2e,19e2e,+854AcBQT2,+854AcBQT2
2,sms,0,2012-05-07 23:04:06.0,0,98d9f2fb5ff624b,93343ba6e41af95,19e2e,19e2e,+laSrk7g6q,+laSrk7g6q
3,Voice,37,2012-05-07 23:04:48.0,1,3f9c8a33ec7be1f,7d05a38f89c49d8,19e2e,19e2e,/xvRrCVKoQ,/xvRrCVKoQ
4,sms,25,2012-05-07 23:04:58.0,1,7bcccc03adf3864,56a5d5430d2fa86,19e2e,19e2e,+bO+qkSonO,+bO+qkSonO

In [7]:
# Creating Telcom 1 DataFrame
telcom3 = pd.read_csv('Telcom_dataset3.csv')
telcom3.head()

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELLID,SIET_ID
0,Voice,61,2012-05-08 23:01:28.0,2,966f68353622feb,ffd53a3bb2db6f1,19e2e,19e2e,+38u2u/rfx,+38u2u/rfx
1,sms,0,2012-05-08 23:01:31.0,1,a0a597384c612d7,cf3b218f1dde792,19e2e,19e2e,+Fs4mTvdKx,+Fs4mTvdKx
2,Voice,10,2012-05-08 23:02:59.0,1,5441a9a58c97132,52f8b299515b9b7,19e2e,19e2e,+ZaaZozy/+,+ZaaZozy/+
3,sms,0,2012-05-08 23:03:04.0,0,8ab8b9ed6989f61,e09e736e46c5c3d,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3
4,Voice,22,2012-05-08 23:03:16.0,4,52662a62b199334,2186273faab4602,19e2e,19e2e,/eeMklgyJA,/eeMklgyJA

## Data Exploration and Cleaning

### Telcom1

In [29]:
# Telcom 1 
telcom1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUTC          5001 non-null   object
 1   VALUE            5001 non-null   int64
 2   DATETIME         5001 non-null   object
 3   CELL_ON_SITE     5001 non-null   object
 4   DW_A_NUMBER_INT  5001 non-null   object
 5   DW_B_NUMBER_INT  5001 non-null   object
 6   COUNTRY_A        5001 non-null   object
 7   COUNTRY_B        5001 non-null   object
 8   CELL_ID          5001 non-null   object
 9   SITE_ID          4285 non-null   object
dtypes: int64(1), object(9)
memory usage: 390.8+ KB

In [30]:
# Dropping nan values
telcom1.dropna(inplace=True)

In [35]:
# Checking for, and removing duplicates.
telcom1.duplicated().any().any() # True
telcom1.drop_duplicates(inplace=True)

In [36]:
# Check changes
telcom1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4215 entries, 0 to 5000
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUTC          4215 non-null   object
 1   VALUE            4215 non-null   int64
 2   DATETIME         4215 non-null   object
 3   CELL_ON_SITE     4215 non-null   object
 4   DW_A_NUMBER_INT  4215 non-null   object
 5   DW_B_NUMBER_INT  4215 non-null   object
 6   COUNTRY_A        4215 non-null   object
 7   COUNTRY_B        4215 non-null   object
 8   CELL_ID          4215 non-null   object
 9   SITE_ID          4215 non-null   object
dtypes: int64(1), object(9)
memory usage: 362.2+ KB

In [56]:
# Change column name as per excel sheet specifications.
telcom1.rename(columns = {'PRODUTC':'PRODUCT', 'DATETIME': 'DATE_TIME'}, inplace  = True)
# Check changes
telcom1.columns

Index(['PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ON_SITE', 'DW_A_NUMBER_INT',
       'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID'],
      dtype='object')

In [80]:
# Change column values as per excel sheet specifications.

telcom1['PRODUCT'].replace("sms", "SMS", inplace=True)
telcom1['PRODUCT'].unique()

array(['Voice', 'SMS'], dtype=object)

In [69]:
# Change data types as per excel sheet specifications.

# Check for unwanted values.
telcom1['CELL_ON_SITE'].unique()
# Check number 
len(telcom1[telcom1['CELL_ON_SITE']== '_']) # = 92
# Drop invalid entries
telcom1 = telcom1[telcom1['CELL_ON_SITE'] != '_']
telcom1['CELL_ON_SITE'].unique()
# Change to integer dtype
telcom1['CELL_ON_SITE'] = telcom1['CELL_ON_SITE'].astype('int64')
telcom1['CELL_ON_SITE'].dtype

C:\Users\HP\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

dtype('int64')

### Telcom2

In [31]:
# Telcom 2
telcom2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PRODUCT       5001 non-null   object
 1   VALUE         5001 non-null   int64
 2   DATE_TIME     5001 non-null   object
 3   CELL_ON_SITE  5001 non-null   object
 4   DW_A_NUMBER   5001 non-null   object
 5   DW_B_NUMBER   5001 non-null   object
 6   COUNTRY_A     5001 non-null   object
 7   COUNTRY_B     5001 non-null   object
 8   CELL_ID       5001 non-null   object
 9   SITE_ID       4325 non-null   object
dtypes: int64(1), object(9)
memory usage: 390.8+ KB

In [32]:
# Dropping nan values
telcom2.dropna(inplace=True)

In [39]:
# Checking for, and removing duplicates.
telcom2.duplicated().any().any() # True
telcom2.drop_duplicates(inplace=True)

In [57]:
# Change column names
telcom2.rename(columns = {'DW_A_NUMBER':'DW_A_NUMBER_INT', 'DW_B_NUMBER': 'DW_B_NUMBER_INT'}, inplace  = True)
# Check changes.
telcom2.columns

Index(['PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ON_SITE', 'DW_A_NUMBER_INT',
       'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID'],
      dtype='object')

In [81]:
# Change column values as per excel sheet specifications.

telcom2['PRODUCT'].replace("sms", "SMS", inplace=True)
telcom2['PRODUCT'].unique()

array(['SMS', 'Voice'], dtype=object)

In [73]:
# Change data types as per excel sheet specifications.

# Check for unwanted values.
telcom2['CELL_ON_SITE'].unique()
# Check number 
len(telcom2[telcom2['CELL_ON_SITE']== '_']) # 90
# Drop invalid entries
telcom2 = telcom2[telcom2['CELL_ON_SITE'] != '_']
telcom2['CELL_ON_SITE'].unique()
# Change to integer dtype
telcom2['CELL_ON_SITE'] = telcom2['CELL_ON_SITE'].astype('int64')
telcom2['CELL_ON_SITE'].dtype

dtype('int64')

### Telcom3

In [40]:
# Telcom 3
telcom3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          5001 non-null   object
 1   VALUE            5001 non-null   int64
 2   DATE_TIME        5001 non-null   object
 3   CELL_ON_SITE     5001 non-null   object
 4   DW_A_NUMBER_INT  5001 non-null   object
 5   DW_B_NUMBER_INT  5001 non-null   object
 6   COUNTRY_A        5001 non-null   object
 7   COUNTRY_B        5001 non-null   object
 8   CELLID           5001 non-null   object
 9   SIET_ID          4396 non-null   object
dtypes: int64(1), object(9)
memory usage: 390.8+ KB

In [41]:
# Dropping nan values
telcom3.dropna(inplace=True)

In [44]:
# Checking for, and removing duplicates.
telcom3.duplicated().any().any() # Trueb
telcom3.drop_duplicates(inplace=True)

In [96]:
# Change column names
telcom3.rename(columns = {'CELLID':'CELL_ID', 'SIET_ID': 'SITE_ID'}, inplace  = True)
# Check changes.
telcom3.columns

Index(['PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ON_SITE', 'DW_A_NUMBER_INT',
       'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID'],
      dtype='object')

In [82]:
# Change column values as per excel sheet specifications.

telcom3['PRODUCT'].replace("sms", "SMS", inplace=True)
telcom3['PRODUCT'].unique()

array(['Voice', 'SMS'], dtype=object)

In [78]:
# Change data types as per excel sheet specifications.

# Check for unwanted values.
telcom3['CELL_ON_SITE'].unique()
# Check number 
len(telcom3[telcom3['CELL_ON_SITE']== '_']) # 89
# Drop invalid entries
telcom3 = telcom3[telcom3['CELL_ON_SITE'] != '_']
telcom3['CELL_ON_SITE'].unique()
# Change to integer dtype
telcom3['CELL_ON_SITE'] = telcom3['CELL_ON_SITE'].astype('int64')
telcom3['CELL_ON_SITE'].dtype

dtype('int64')

### Merging

In [97]:
# Merging datasets

telcom_all = pd.concat([telcom1, telcom2, telcom3], axis = 0, ignore_index=True)
# Preview
telcom_all.head()

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,Voice,0,2012-05-06 23:04:37.0,1,49fae048b547780,1a49f8b0ded9de6,19e2e,19e2e,/TJNe+Mmtu,/TJNe+Mmtu
1,SMS,0,2012-05-06 23:05:25.0,0,7a54a6eaee19e65,93343ba6e41af95,19e2e,19e2e,/+cKZKIp41,/+cKZKIp41
2,SMS,25,2012-05-06 23:05:41.0,0,6008887b0207d82,7aacc9709ce0a20,19e2e,19e2e,/u0FSD+ahi,/u0FSD+ahi
3,Voice,56,2012-05-06 23:05:42.0,1,7370032e20f4e96,6af4a60e74c91d3,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3
4,Voice,14,2012-05-06 23:06:29.0,1,966ba4656e38e62,02aa736ee555d5c,19e2e,19e2e,051KhYDCpv,051KhYDCpv

In [98]:
# Check information
telcom_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12518 entries, 0 to 12517
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          12518 non-null  object
 1   VALUE            12518 non-null  int64
 2   DATE_TIME        12518 non-null  object
 3   CELL_ON_SITE     12518 non-null  int64
 4   DW_A_NUMBER_INT  12518 non-null  object
 5   DW_B_NUMBER_INT  12518 non-null  object
 6   COUNTRY_A        12518 non-null  object
 7   COUNTRY_B        12518 non-null  object
 8   CELL_ID          12518 non-null  object
 9   SITE_ID          12518 non-null  object
dtypes: int64(2), object(8)
memory usage: 978.1+ KB